<nav class="navbar custom-navbar sticky-top">
    <div class="navbar-left d-flex align-items-center gap-3">
        <a href="/" class="brand-logo">
            <div class="brand-circle">
                <i class="fa-solid fa-house"></i>
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <span>Wander<span>Stay</span></span>
        </a>

    </div>
    <div class="search-box">
        <button class="search-pill" type="button">Search anything...</button>
        <button class="search-pill" type="button">Add rooms</button>
        <button class="search-pill" type="button">Add guests</button>
        <button class="search-btn" type="button">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>

    <div class="navbar-right d-flex align-items-center gap-3">
        <button class="host-btn" type="button">Sewa Your House</button>
        <button class="icon-circle" type="button">
            <i class="fa-regular fa-flag"></i>
        </button>
        <button class="profile-menu" type="button">
            <div class="avatar"></div>
            <span>Guest</span>
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</nav>